* {
    margin: 0px;
    padding: 0px;
    margin: 0px auto;
}

#header {
    width: 100%;
}

.top {
    height: 33px;
    background-color: #EEEEEE;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.container .left {
    font-size: 12px;
    line-height: 33px;
    color: #333333;
}

.bottom {
    border-bottom: 2px solid #f39800;
}

.top .right {
    float: right;
    margin-top: -27px;
}

.right .login_nav li {
    float: left;
    margin-left: 18px;
}

.login_nav {
    display: block;
    list-style-type: none;
}

.right .login_nav li a {
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

.search_wapper img {
    float: left;
    margin-top: 27px;
    width: 215px;
}

.location {
    float: left;
    margin: 42px 0px 0px 30px;
    border: 1px solid #dcdcdc;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.location span {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    color: #333333
}

.search_box {
    position: relative;
    float: right;
    margin-top: 35px;
    border: 1px solid #f39800;
    border-radius: 8px;
}

.search_box input {
    width: 415px;
    height: 40px;
    border: 0;
    float: left;
    border-radius: 8px;
    text-indent: 30px;
}

.search_box .search_btn {
    width: 80px;
    height: 40px;
    float: left;
    background-color: #f39800;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.publish_btn {
    float: right;
    color: #f39800;
    border: 1px solid #f39800;
    border-radius: 8px;
    margin-top: 35px;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-decoration: none;
}

.main_nav {
    position: absolute;
    top: 114px;
    width: 1200px;
    height: 42px;
}

.main_nav .tab {
    padding: 10px;
    margin-right: 20px;
    font-size: 14px;
    color: #333333;
    position: relative;
    float: left;
    text-decoration: none;
}

.main_nav .tab:nth-of-type(4) {
    background-color: #f39800;
    color: #ffffff;
}

.lgog {
    width: 142px;
    height: 142px;
    float: left;
    margin-right: 50px;
}

.lgog img {
    width: 142px;
    height: 127px;
}

.lgog p {
    text-align: center;
    font-size: 26px;
}