* {
    margin: 0px;
    padding: 0px;
    margin: 0px auto;
}

#header {
    width: 100%;
}

.top {
    height: 33px;
    background-color: #EEEEEE;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.container .left {
    font-size: 12px;
    line-height: 33px;
    color: #333333;
}

.bottom {
    border-bottom: 2px solid #f8b551;
}

.top .right {
    float: right;
    margin-top: -27px;
}

.right .login_nav li {
    float: left;
    margin-left: 18px;
}

.login_nav {
    display: block;
    list-style-type: none;
}

.right .login_nav li a {
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

.search_wapper a {
    text-decoration: none;
    position: relative;
}

.search_wapper p {
    position: relative;
    top: 35px;
    left: 10px;
    font-size: 12px;
    color: #C2C2C2;
}

#asd {
    position: relative;
    left: 0;
}

.search_wapper h3 {
    color: #383635;
    font-size: 22px;
    position: relative;
    left: 10px;
    top: 35px;
    letter-spacing: 20px;
}

.search_wapper img {
    float: left;
    margin-top: 27px;
    width: 70px;
}

.location {
    float: left;
    margin: 42px 0px 0px 30px;
    border: 1px solid #dcdcdc;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.location span {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    color: #333333
}

.search_box {
    position: relative;
    float: right;
    margin-top: 35px;
    border: 1px solid #f39800;
    border-radius: 8px;
}

.search_box input {
    width: 415px;
    height: 40px;
    border: 0;
    float: left;
    border-radius: 8px;
    text-indent: 30px;
}

.search_box .search_btn {
    width: 80px;
    height: 40px;
    float: left;
    background-color: #f39800;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.publish_btn {
    float: right;
    color: #f39800;
    border: 1px solid #f39800;
    border-radius: 8px;
    margin-top: 35px;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-decoration: none;
}

.main_nav {
    position: absolute;
    top: 146px;
    width: 1200px;
    height: 42px;
}

.main_nav .tab {
    padding: 10px;
    margin-right: 20px;
    font-size: 14px;
    color: #333333;
    position: relative;
    float: left;
    text-decoration: none;
}

#baike-header {
    background: #fff;
}

.wrapper {
    width: 1174px;
    margin: 0 auto;
}

#baike-header h5 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 39px 0 15px 0;
    text-align: center;
}

#baike-header p {
    color: #959595;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
}

#baike-header .search-box {
    width: 576px;
    height: 40px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    background: #f4f3f3;
    border-radius: 9px;
    padding: 5px;
    margin-bottom: 35px;
}

#baike-header .search-box .find-answer {
    float: left;
    width: 470px;
    height: 38px;
    line-height: 38px;
    border-radius: 9px;
    background: #fff;
    padding-left: 20px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}

#baike-header .search-box .find-answer input {
    width: 390px;
    height: 100%;
    border: 0;
    margin-bottom: 5px;
}

#baike-header .search-box .find-answer button {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    width: 76px;
    height: 100%;
    border: 0;
    background: #f39800;
    margin-right: -1px;
    margin-bottom: 5px;
    cursor: pointer;
}

#baike-header .search-box>button {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    width: 76px;
    height: 38px;
    border: 0;
    border-radius: 9px;
    margin-bottom: 13px;
    background: #eb6100;
    cursor: pointer;
}

.antong-content {
    background: #f5f3f3;
    overflow: hidden;
}

.antong-content .wrapper {
    padding: 40px 0 60px 0;
    overflow: hidden;
}

.wrapper {
    width: 1174px;
    margin: 0 auto;
}

.question-left {
    width: 804px;
    float: left;
}

.question-left .typelist-wrap {
    padding-bottom: 6px;
}

question-left .search-content,
.question-left .type-list {
    height: 45px;
    line-height: 45px;
    background: #fff;
}

ul,
ol,
dl {
    list-style-type: none;
}

.question-left .type-list li {
    float: left;
    width: 74px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-left: 30px;
}

.question-left .type-list li a {
    display: inline-block;
    height: 100%;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}

.question-list {
    width: 804px;
    background: #fff;
}

.question-list ul {
    width: 764px;
    margin: 0 auto;
}

.question-list ul li {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

.question-list ul .question {
    line-height: 22px;
}

.question-list ul .question a {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.question-list ul .question a:hover {
    color: #eb6100;
}

.question-list ul .question span {
    display: inline-block;
    width: 44px;
    height: 15px;
    color: #ec6e24;
    line-height: 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #eb6100;
    font-size: 12px;
}

.question-list ul .solution {
    width: 650px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    margin-left: 0;
}

.question-list ul .solution span {
    font-size: 12px;
    color: #acacac!important;
}

.question-list ul .time-comment {
    height: 16px;
    margin-bottom: 6px;
    font-size: 12px;
}

.question-list ul .time-comment .date-time {
    float: left;
}

.question-list ul .time-comment .date-time span {
    color: #8a8a8a;
}

.question-list ul .time-comment .comment {
    float: right;
}

.question-list ul .time-comment .comment a {
    text-decoration: none;
}

.question-list ul .time-comment .comment .comment-num {
    color: #8a8a8a;
}

.question-right {
    width: 336px;
    float: right;
}

.question-right .hot-question {
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.question-right ul {
    width: 296px;
    margin: 0 auto;
}

.question-right ul .title {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-bottom: 8px;
}

.question-right ul li {
    padding-top: 12px;
    padding-bottom: 3px;
    border-bottom: 1px solid #eeeeee;
}

.question-right ul .title span {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.question-right ul .title .yellow-line {
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 1px;
    width: 33px;
    border: 1px solid #f39800;
}

.question-right ul .title span {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.question-right ul .discribe a {
    font-size: 14px;
    color: #8d9093;
    text-decoration: none;
}

.question-right ul .discribe a:hover {
    color: #f8b551;
}

.question-right ul .resolve-time {
    height: 40px;
    line-height: 40px;
}

.question-right ul .resolve-time .resolved,
.question-right ul .resolve-time .unresolved {
    float: left;
    width: 44px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #eb6100;
    margin-top: 10px;
    font-size: 12px;
}

.question-right ul .resolve-time .time {
    float: right;
}

.question-right ul .resolve-time .time span {
    color: #8a8a8a;
    font-size: 12px;
}

.gongzhong {
    width: 336px;
    padding: 17px 0;
    background: #fff;
}

.gongzhong .gongzhong-wrapper {
    width: 220px;
    margin: 0 auto;
}

.gongzhong .atcfw-gzh {
    width: 220px;
    height: 20px;
    margin-bottom: 14px;
    position: relative;
}

.gongzhong .atcfw-gzh span:nth-of-type(1),
.gongzhong .atcfw-gzh span:nth-of-type(3) {
    position: absolute;
    top: 10px;
    width: 30px;
    border: 1px solid #f39800;
}

.gongzhong .atcfw-gzh span:nth-of-type(2) {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    padding: 0 16px 0 52px;
}

.gongzhong .news-cf-server {
    padding: 28px 8px 0 8px;
    overflow: hidden;
}

.gongzhong .news-cf-server .news {
    margin-right: 15px;
}

.gongzhong .news-cf-server .news,
.gongzhong .news-cf-server .cf-knowwladge,
.gongzhong .news-cf-server .server {
    float: left;
    width: 48px;
}

.gongzhong .news-cf-server .news {
    margin-right: 15px;
}

.gongzhong .news-cf-server .news,
.gongzhong .news-cf-server .cf-knowwladge,
.gongzhong .news-cf-server .server {
    float: left;
    width: 48px;
}

.gongzhong .news-cf-server .news .adjective,
.gongzhong .news-cf-server .cf-knowwladge .adjective,
.gongzhong .news-cf-server .server .adjective {
    margin-top: 9px;
    line-height: 16px;
    color: #6b6b6b;
    font-weight: bold;
    font-size: 12px;
}

.gongzhong .news-cf-server .cf-knowwladge {
    margin: 0 15px;
}

.gongzhong .news-cf-server .server {
    margin-left: 15px;
}

.gongzhong .erw-code {
    text-align: center;
}

.gongzhong .erw-code .code-container {
    width: 122px;
    margin: 0 auto;
    margin-top: 26px;
}

.gongzhong .erw-code .code-container img {
    width: 100%;
}

.gongzhong .erw-code .follow {
    height: 22px;
    line-height: 22px;
    margin-top: 12px;
}

.gongzhong .erw-code .follow span {
    font-size: 14px;
    color: #484848;
}

.gongzhong .news-cf-server .news .img-container,
.gongzhong .news-cf-server .cf-knowwladge .img-container,
.gongzhong .news-cf-server .server .img-container {
    width: 19px;
    margin: 0 auto;
}

.text-c {
    text-align: center;
}

.pagination {
    font-size: 80%;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination .current {
    background: #f8b551;
    color: #fff;
}

.pagination span {
    color: #5b7648;
}

.pagination a,
.pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 6px;
    background: #FFFFFF;
}

.pagination a,
.pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 6px;
    background: #FFFFFF;
}

.pagination a {
    text-decoration: none;
    color: #333333;
    box-shadow: 0 0 3px #CCCCCC;
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: none;
}

#Pagination a {
    cursor: pointer;
}

#home {
    width: 300px;
    position: relative;
    float: left;
}

.lgog {
    width: 142px;
    height: 142px;
    float: left;
    margin-right: 50px;
}

.lgog img {
    width: 142px;
    height: 127px;
}

.lgog p {
    text-align: center;
    font-size: 26px;
}

.download {
    position: fixed;
    top: 40px;
    background: #4169E1;
    text-align: center;
    z-index: 1000;
    padding: 5px;
}

.download img {
    width: 130px;
    height: 130px;
}

.down {
    width: 385px;
    height: 45px;
    background: #ffffff;
    border: 1px solid black;
    margin-top: 25px;
    font-size: 17px;
    line-height: 45px;
}

.cname {
    color: red;
}

#lo img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
    float: left;
}

.ewm {
    width: 170px;
    height: 190px;
    position: fixed;
    right: 10px;
    top: 470px;
    background: #fff;
    box-shadow: 2px 2px 9px 0px #c5c5c5;
}

.ewm img {
    width: 170px;
    height: 170px;
}

.ewm p {
    font-size: 14px;
    line-height: 25px;
    margin-top: -8px;
    text-align: center;
}

.xs {
    width: 20px;
    height: 50px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-right: 0;
    position: relative;
    top: -120px;
    right: 95px;
}

.xs img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-top: 19px;
}