<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="7NGtawMkau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="./img/logo1.png" />
    <title>库房滴滴</title>
    <link rel="stylesheet" type="text/css" href="css/yuanqu-xq.css">
    <link rel="stylesheet" type="text/css" href="css/dibu.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/iconfont.js"></script>
    <script src="./js/iconfont1.js"></script>
    <script src="./js/iconfont2.js"></script>
    <script src="./js/iconfont3.js"></script>
    <script src="./js/iconfont4.js"></script>
    <script src="./js/iconfont5.js"></script>
    <script src="./js/iconfont6.js"></script>
    <script src="./js/iconfont7.js"></script>
    <script src="./js/iconfont8.js"></script>
    <script src="./js/iconfont9.js"></script>
    <script src="./js/iconfont10.js"></script>
    <script src="./js/iconfont11.js"></script>
    <script src="./js/iconfont12.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/jquery-1.4.4.min.js"></script>
    <script src="./js/vue.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YcOGuCXZOmSuEC3cKfDTbDlI"></script>

    <style>
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
            color: #8a8a8a;
        }
    </style>

</head>

<body>
    <div id="app">
        <div id="header" class="[header_class]">
            <div class="header_wapper">
                <div class="top">
                    <div class="container clearfix">
                        <div class="left">
                            专注厂房出租出售、仓库出租、工业土地转让出售、园区招商的O2O工业地产交易服务平台
                        </div>
                        <div class="right">
                            <ul class="login_nav">
                                <li style="color:#ef5636">
                                    <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shouji" style="color:red"></use>
                            </svg>
                                    <a href="javascript:;" id="show" onmouseover="shouEr()" onmouseout="hideEr()" style="color:#ef5636">下载库房滴滴APP</a>
                                    <div class="download" id="down" onclick="hidetext()" style="display: none">
                                        <img src="./img/1556788963.png">
                                    </div>
                                </li>


                                <script type="text/javascript">
                                    function shouEr() {
                                        document.getElementById("down").style.display = "block";
                                    }

                                    function hideEr() {
                                        document.getElementById("down").style.display = "none";
                                    }
                                </script>

                                <li>
                                    <a href="login.html" id="lo">登录</a>
                                </li>
                                <li>
                                    <a href="zhuce.html" id="zh" onclick="qingchu()">注册</a>
                                </li>
                                <!-- <li>
                                <a href="" target="_blank">帮助</a>
                            </li>
                            <li>
                                <a href="" target="_blank">推广</a>
                            </li>
                            <li>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-weibo"></use>
                                </svg>
                                <a href="" title="安通厂房网新浪微博" target='_blank'>新浪微博</a>
                            </li> -->
                                <li>
                                    <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-weixin"></use>
                            </svg>
                                    <span class="has_down">
                                <a href="javascript:;" onMouseOut="hideImg()" onmouseover="showImg()">微信</a>
                                <div id="wxImg"
                                    style="display:none;height:50px;background:#f00;position:absolute; z-index: 999; margin-top: 15px;margin-left: -150px;border: 1px solid #dcdcdc">
                                    <img src="./img/weixinimg.jpg" width="250px" height="340px">
                                </div>

                            </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function showImg() {
                        document.getElementById("wxImg").style.display = 'block';
                    }

                    function hideImg() {
                        document.getElementById("wxImg").style.display = 'none';
                    }
                </script>
                <div class="bottom" style="height:152px;">
                    <div class="container clearfix" style="height: 100%;">
                        <div class="search_wapper clearfix">
                            <div id="home">
                                <a href="home.html" target="_blank">
                                    <img class="logo" src="./img/logo1.png" class="logo">
                                    <h3>库房滴滴</h3>
                                    <p>O2O工业地产交易服务平台</p>
                                </a>
                            </div>
                            <a class="location" href="allcity.html">
                                <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-dizhi"></use>
                        </svg>
                                <span>
                            <div>{{city}}</div>
                        </span>
                            </a>
                            <a class="publish_btn" id="asd" href="" target="_blank">
                            免费发布信息
                        </a>
                            <div class="search_box clearfix">

                                <input type="text" class="search-text" placeholder="请输入关键词查找，如杭州 单层厂房出租" id="bdcsMain" onkeypress="CheckInfo()" />

                                <button type="button" class="search_btn" onclick="goSearch()" id="sou">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-sousuo" style="background-color:white"></use>
                                </svg>
                            </button>
                            </div>
                        </div>
                        <div class="main_nav">
                            <a href="home.html" class="tab avtive">网站首页</a>
                            <a href="yuanqu.html" class="tab">园区招商</a>
                            <a href="changfang.html" class="tab">厂房</a>
                            <a href="cangku.html" class="tab">仓库</a>
                            <a href="tudi.html" class="tab">土地</a>
                            <a href="qiuzuqiugou.html" class="tab">求租求购</a>
                            <a href="agent.html" class="tab">经纪人
                        <img src="./img/hot.gif" class="tag">
                    </a>
                            <a href="information.html" class="tab">地产资讯</a>
                            <a href="#" class="tab">地产百科</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newpark_dt_wapper">
            <!--主体内容-->
            <div class="container">
                <div class="newpark_dt_top">
                    <div class="title">{{title}}</div>
                    <p class="subtitle">招商咨询热线：400-0571-233</p>
                    <div class="code_wapper">
                        <i class="icon iconfont icon-erweima"></i>
                        <span class="code_txt">扫码分享到微信</span>
                    </div>
                </div>
                <div class="newpark_dt_nav">
                    <a class="item active" href="">园区首页</a>
                    <a class="item" href="#remark_hr">园区详情</a>
                    <a class="item" href="#hx_hr">园区户型</a>
                    <a class="item" href="#xc_hr">园区相册</a>
                    <a class="item" href="#jt_hr">交通配套</a>
                    <a class="item" href="#hs_hr">园区房源</a>
                </div>
                <div class="newpark_dt_dsc">
                    <div class="left">
                        <div class="clearfix gallery-wapper park-gallery">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                <li data-thumb="http://img.atcfw.com/park/20181227/4bvi77lxc6vast0zym5yphw0qlpcpula.jpg/615_340">
                                    <img :src="titlePicture" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="singleline">
                            <div class="price">参考价格： <b>{{parkprice}}</b> 元/㎡/月</div>
                            <div class="tabs">
                                <span class="tab">独栋</span>
                                <span class="tab">位置好</span>
                                <span class="tab">可贷款</span>
                            </div>
                        </div>
                        <div class="singleline">
                            园区地址： {{parkAddress}} </div>
                        <div class="singleline">
                            <div class="call">
                                <span class="phone">咨询热线：{{contact}}&nbsp;&nbsp;{{contactPhone}}</span>
                                <div class="get" data-popup="#consult" data-title="预约咨询" data-func="consult" onclick="popupModel(this)">领取专项补贴</div>
                            </div>
                        </div>
                        <div class="dsc_box">
                            <div class="singleline">
                                <span class="half"><span class="subtitle">占地面积：</span><span class="info">{{priceArea}}平方米</span></span>
                                <span class="half"><span class="subtitle">消防等级：</span><span class="info">{{fireRating}}</span></span>
                            </div>
                            <div class="singleline">
                                <span class="half"><span class="subtitle">总 栋 数 ：</span><span class="info">{{allBuildingsNum}}</span></span>
                                <span class="half"><span class="subtitle">建筑结构：</span><span class="info">框架结构</span></span>
                            </div>
                            <div class="singleline">
                                <span class="half"><span class="subtitle">容 积 率 ：</span><span class="info">1.56</span></span>
                                <span class="half"><span class="subtitle">建筑面积：</span><span class="info">183489.09平方</span></span>
                            </div>
                            <div class="singleline">
                                <span class="half"><span class="subtitle">交房时间：</span><span class="info">{{deliveryTime}}</span></span>
                                <span class="half"><span class="subtitle">产证：</span><span class="info">{{productionCertificate}}</span></span>
                            </div>
                            <div class="singleline">
                                <span class="full"><span class="subtitle">园区政策：</span><span class="info">{{policy}}</span></span>
                            </div>
                            <div class="singleline">
                                <span class="full"><span class="subtitle">配套：</span><span class="info">{{matching}}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newpark_dt_title" id="remark_hr">园区介绍</div>
                <div class="newpark_dt_info">
                    <p class="dsc">
                        <p><span style="font-size: 16px; font-family: 宋体;">{{introduce}}</span></p>
                    </p>
                </div>
                <div class="newpark_dt_title">适合企业</div>
                <div class="newpark_dt_info">
                    <p class="dsc">{{suitableBusiness}}</p>
                </div>
                <div class="newpark_dt_title" id="hx_hr">园区户型</div>
                <div class="newpark_dt_info">
                    <div class="img_txt_list">
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">A户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/kr2wvtrm8vstgh9xrnnqf9j23vt9ifje.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/kr2wvtrm8vstgh9xrnnqf9j23vt9ifje.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — A户型</div>
                                <p class="dsc">建筑面积：约1734平方</p>
                                <p class="dsc">层高：4.5m+3.9m+3.9m+3.6m</p>
                                <p class="dsc">楼号：17#、26#</p>
                                <p class="dsc">层数：4层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">B户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/c4ii1uads4cmgg0hrnljmf82h7n88mm6.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/c4ii1uads4cmgg0hrnljmf82h7n88mm6.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — B户型</div>
                                <p class="dsc">建筑面积：约1822平方</p>
                                <p class="dsc">层高：4.5m+3.9m+3.9m+3.6m</p>
                                <p class="dsc">楼号：14#、23#</p>
                                <p class="dsc">层数：4层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">C户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/u386osqf5kcxpglpjdvykwzopobjovf7.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/u386osqf5kcxpglpjdvykwzopobjovf7.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — C户型</div>
                                <p class="dsc">建筑面积：约854平方</p>
                                <p class="dsc">层高：4.5m+3.9m+3.9m+3.6m</p>
                                <p class="dsc">楼号：11#</p>
                                <p class="dsc">层数：4层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">D户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/hso3ozmsk41o5nivqcf3gnj8eqmzhylx.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/hso3ozmsk41o5nivqcf3gnj8eqmzhylx.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — D户型</div>
                                <p class="dsc">建筑面积：约2370平方</p>
                                <p class="dsc">层高：4.5m+3.9m+3.9m+3.6m</p>
                                <p class="dsc">楼号：20#</p>
                                <p class="dsc">层数：4层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">E户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/2hkskmjs4qc1exkd43czlz60ln6nauub.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/2hkskmjs4qc1exkd43czlz60ln6nauub.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — E户型</div>
                                <p class="dsc">建筑面积：约854平方</p>
                                <p class="dsc">层高：4.5m+3.9m+3.9m+3.6m</p>
                                <p class="dsc">楼号：27#</p>
                                <p class="dsc">层数：4层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">F户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/tsparb95aq0kp9so0tgb0vm65yccb3d6.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/tsparb95aq0kp9so0tgb0vm65yccb3d6.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — F户型</div>
                                <p class="dsc">建筑面积：约1182平方</p>
                                <p class="dsc">层高：8m+4.2m</p>
                                <p class="dsc">楼号：12#-1、18#-1、24#-1</p>
                                <p class="dsc">层数：2层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">G户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/jj521652wzr7u93yap6wttsgxac109rt.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/jj521652wzr7u93yap6wttsgxac109rt.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — G户型</div>
                                <p class="dsc">建筑面积：约1216平方</p>
                                <p class="dsc">层高：8m+4.2m</p>
                                <p class="dsc">楼号：12#-2、18#-2、24#-2</p>
                                <p class="dsc">层数：2层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">H户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/sgj156hvzoi2cf73v0pec5kn3bk9rku6.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/sgj156hvzoi2cf73v0pec5kn3bk9rku6.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — H户型</div>
                                <p class="dsc">建筑面积：约1216平方</p>
                                <p class="dsc">层高：2</p>
                                <p class="dsc">楼号：13#-1、19#-1、25#-1</p>
                                <p class="dsc">层数：2层</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img_box">
                                <span class="tag">I户型</span>
                                <a href="http://img.atcfw.com/resource/20181227/h0wt0kmg7s1vkwkh5zvjreeug443cybk.jpg/1100_778" data-litebox-group="group-2" target="_self" class="hx_litebox">
                                    <img src="http://img.atcfw.com/resource/20181227/h0wt0kmg7s1vkwkh5zvjreeug443cybk.jpg/204_150" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">吴兴区800-3000方独立产权厂房出售户型图 — I户型</div>
                                <p class="dsc">建筑面积：约1182平方</p>
                                <p class="dsc">层高：8m+4.2m</p>
                                <p class="dsc">楼号：13#-2、19#-2、25#-2</p>
                                <p class="dsc">层数：2层</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newpark_dt_title" id="xc_hr">园区相册</div>
                <div class="newpark_dt_info" id="xc">
                    <div class="img_box" style="margin-left: -10px;">
                        <a href="" class="litebox">
                            <img v-for="item in lisss" :src="item.url" alt="" />
                        </a>
                    </div>
                </div>
                <div class="newpark_dt_title" id="hs_hr">楼栋信息</div>
                <div class="newpark_dt_info">
                    <div class="newpark_dt_special">
                        <div class="left">
                            <img src="http://img.atcfw.com/park/20181227/1jbbhxaon3suvf7gvlqyabspvsz6ng0t.png/1100_778" alt="" />
                            <div id="76" class="drag type3" style="top: 192.1875px;left:326.71875px;">12#-1、18#-1、24#-1(未售)
                            </div>
                            <div id="77" class="drag type3" style="top: 212.94375px;left:330.5625px;">12#-2、18#-2、24#-2(未售)
                            </div>
                            <div id="78" class="drag type3" style="top: 273.675px;left:305.9625px;">13#-1、19#-1、25#-1(未售)
                            </div>
                            <div id="79" class="drag type3" style="top: 297.50625px;left:279.05625px;">13#-2、19#-2、25#-2(未售)
                            </div>
                        </div>
                        <div class="right">
                            <div class="item active" data-id="76">
                                <div class="title">
                                    <span>12#-1、18#-1、24#-1</span>
                                    <span class="tab type3">未售</span>
                                </div>
                                <div class="area">主力面积约1182平方</div>
                                <div class="info">
                                    层数：2层 首层层高：8.1m 2层层高：4.2m 柱距：8m * 8m 地面堆载：不超过2吨 </div>
                            </div>
                            <div class="item " data-id="77">
                                <div class="title">
                                    <span>12#-2、18#-2、24#-2</span>
                                    <span class="tab type3">未售</span>
                                </div>
                                <div class="area">主力面积约1216平方</div>
                                <div class="info">
                                    层数：2层 首层层高：8.1m 2层层高：4.2m 柱距：8m * 8m 地面堆载：不超过2吨 </div>
                            </div>
                            <div class="item " data-id="78">
                                <div class="title">
                                    <span>13#-1、19#-1、25#-1</span>
                                    <span class="tab type3">未售</span>
                                </div>
                                <div class="area">主力面积约1216平方</div>
                                <div class="info">
                                    层数：2层 首层层高：8.1m 2层层高：4.2m 柱距：8m * 8m 地面堆载：不超过2吨 </div>
                            </div>
                            <div class="item " data-id="79">
                                <div class="title">
                                    <span>13#-2、19#-2、25#-2</span>
                                    <span class="tab type3">未售</span>
                                </div>
                                <div class="area">主力面积约1182平方</div>
                                <div class="info">
                                    层数：2层 首层层高：8.1m 2层层高：4.2m 柱距：8m * 8m 地面堆载：不超过2吨 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newpark_dt_title" id="jt_hr">周边配套</div>
                <div class="newpark_dt_info">
                    <div class="newpark_map_wapper">
                        <div class="newpark_dt_map" id="parkmap" data-x="120.172287" data-y="30.898988"></div>
                        <div class="newpark_map_info">
                            <div class="tabs">
                                <div class="item active">酒店旅馆</div>
                                <div class="item">机场/码头</div>
                                <div class="item">高速公路</div>
                                <div class="item">超市/加油站</div>
                            </div>
                            <div class="newpark_points" id="newpark_points"></div>
                        </div>
                    </div>
                </div>
                <ul class="area-adver clearfix mt-30 newpark_adver">
                    <h5>推荐园区</h5>
                    <li v-for="item in lis">
                        <a v-bind:href="'yuanqu1.html?pid='+item.pid" target="_blank">
                            <div class="img-box">
                                <img :src="item.titlePicture" alt="">
                                <span>{{item.title}}</span>
                            </div>
                            <div class="dsc">
                                <div class="price">
                                    <span>¥{{item.parkprice}}</span>元/㎡/月 </div>
                                <p class="parkAddress"><svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dizhi"></use>
                            </svg>{{item.parkAddress}}</p>
                                <p><svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-mianji"></use>
                            </svg>{{item.priceArea}}平方</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer" style="margin-top:260px">
        <div class="new_footer">
            <div class="container">
                <div class="ewm" id="ewm">
                    <img src="./img/1556788963.png">
                    <p>下载库房滴滴APP</p>
                    <div class="xs" onclick="xs()">
                        <img src="./img/goright (1).png" style="width: 12px;height:12px;" id="xsimg">
                    </div>
                </div>
                <!-- <div class="links_wapper">

                    <ul class="lists">
                        <h4>帮助中心</h4>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">更多帮助</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">隐私权条款</a></li>
                    </ul>
                    <ul class="lists">
                        <h4>关注我们</h4>
                        <li><a href="" title="安通厂房网新浪微博" target='_blank'>新浪微博</a></li>
                        <li><a href="" title="安通厂房网熊掌号" target='_blank'>熊掌号</a>
                        </li>
                        <li><a href="" title="安通厂房网APP下载" target='_blank'>APP下载</a></li>
                    </ul>
                    <ul class="lists">
                        <h4>了解库房</h4>
                        <li><a href="">了解库房滴滴</a></li>
                        <li><a href="">加入库房滴滴</a></li>
                    </ul>
                    <ul class="lists">
                        <h4>会员服务</h4>
                        <li><a href="">会员介绍</a></li>
                        <li><a href="">推广服务</a></li>
                        <li><a href="" target="_blank">开通VIP服务</a></li>
                    </ul>
                    <div class="code">
                        <p class="subtitle">扫一扫下载APP</p>
                        <img src="./img/1556788963.png" />
                        <p class="tip">库房滴滴APP</p>
                    </div>
                </div> -->
                <div class="copyright_wapper">
                    <p class="copyright">Copyright © 2019 库房滴滴 浙ICP备14017628号 公安备案：33011002013057 增值电信业务经营许可证：浙B2-20140369
                    </p>
                    <!-- <div class="tabs">
                        <a href="">
                            <img src="./img/link1.png" />
                        </a>
                        <a href="">
                            <img src="./img/link2.png" />
                        </a>
                        <a href="">
                            <img src="./img/link3.png" />
                        </a>
                        <a href="">
                            <img src="./img/link4.png" />
                        </a>
                        <a href="">
                            <img src="./img/link5.png" />
                        </a>
                        <a href="">
                            <img src="./img/link6.png" />
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            // hm.src = "https://hm.baidu.com/hm.js?480af84a83854526b79f39cc4e683944";
            hm.src = "https://hm.baidu.com/hm.js?d09daf87518c59df98b94b13edda8e22";
            var s = document.getElementsByTagName("script")[0];
        })();
        (function() {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script>
        (function(b, a, e, h, f, c, g, s) {
            b[h] = b[h] || function() {
                (b[h].c = b[h].c || []).push(arguments)
            };
            b[h].s = !!c;
            g = a.getElementsByTagName(e)[0];
            s = a.createElement(e);
            s.src = "//s.union.360.cn/" + f + ".js";
            s.defer = !0;
            s.async = !0;
        })(window, document, "script", "_qha", 215514, false);
    </script>
    <div style="display: none">
        <script type="text/javascript" src="https://s22.cnzz.com/z_stat.php?id=1273397016&web_id=1273397016"></script>
    </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YcOGuCXZOmSuEC3cKfDTbDlI"></script>

</body>

</html>
<script>
    var serverHost = getServerHost();

    //获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

    //接收URL中的参数booksId
    var pid = getUrlParam('pid');

    function goSearch() {
        var title = $("#bdcsMain").val();
        $.ajax({
            url: serverHost + '/fplHouse/queryFplHousePOByTitle',
            type: 'post',
            dataType: 'json',
            data: {
                title: title,
                token: localStorage.token
            },
            async: false,
            success: function(data) {
                window.location = './search.html?title=' + encodeURI(encodeURI(title))
            },
            error: function(error) {

            }
        })
    }
    $('body').keydown(function() {
        if (event.keyCode == 13) {
            $('#sou').click();
        };
    });

    var app = new Vue({
        el: '#app',
        data: {
            title: '',
            parkprice: '',
            parkAddress: '',
            contact: '',
            contactPhone: '',
            priceArea: '',
            fireRating: '',
            allBuildingsNum: '',
            deliveryTime: '',
            productionCertificate: '',
            policy: '',
            matching: '',
            introduce: '',
            suitableBusiness: '',
            titlePicture: '',
            pictureStorage: '',
            lis: [],
            pageNum: 1, //当前页
            pageSize: 5, //每页显示数
            totalPages: 1, //总页数
            lisss: [],
            province: "",
            city: localStorage.name,
            area: "",
        },

        methods: {
            findData: function() {
                var _this = app;
                $.ajax({
                    url: serverHost + '/parkStore/queryParkStoreByPid',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        pid: pid,
                    },
                    success: function(data) {
                        _this.title = data.data.title;
                        _this.parkprice = data.data.parkprice;
                        _this.parkAddress = data.data.parkAddress;
                        _this.contact = data.data.contact;
                        _this.contactPhone = data.data.contactPhone;
                        _this.priceArea = data.data.priceArea;
                        _this.fireRating = data.data.fireRating;
                        _this.allBuildingsNum = data.data.allBuildingsNum;
                        _this.deliveryTime = data.data.deliveryTime;
                        _this.productionCertificate = data.data.productionCertificate;
                        _this.policy = data.data.policy;
                        _this.matching = data.data.matching;
                        _this.introduce = data.data.introduce;
                        _this.suitableBusiness = data.data.suitableBusiness;
                        _this.titlePicture = data.data.titlePicture;
                        _this.lisss = data.data.pictureStorage;
                    },
                    error: function() {

                    }
                });

                $.ajax({
                    url: serverHost + '/parkStore/pageParkStore',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        pageNum: _this.pageNum,
                        pageSize: _this.pageSize,
                    },
                    async: false,
                    success: function(data) {
                        _this.lis = data.data.content;
                    },
                    error: function() {

                    }
                })
            }
        },
    })
    app.findData();
</script>
<script type="text/javascript">
    newParkMap('parkmap');

    function newParkMap(id) {
        var x = $('#' + id).attr('data-x');
        var y = $('#' + id).attr('data-y');
        var map = new BMap.Map(id);
        var point = new BMap.Point(x, y);
        var distance = 3500;
        map.enableScrollWheelZoom();
        map.centerAndZoom(point, 13);

        var circle = new BMap.Circle(point, distance, {
            fillColor: "red",
            strokeWeight: 1,
            fillOpacity: 0.3,
            strokeOpacity: 0.3
        });
        map.addOverlay(circle);

        var options = {
            renderOptions: {
                map: map,
                autoViewport: false,
                selectFirstResult: false,
            },
            onMarkersSet: function(results) {
                if (local.getStatus() == BMAP_STATUS_SUCCESS) {
                    var result = '';
                    for (var i = 0; i < results.length; i++) {
                        var title = results[i].title;
                        var phone = results[i].phoneNumber ? results[i].phoneNumber : '';
                        result += '<li class="item"><span class="title"><i class="code">' + String.fromCharCode(65 + i) + '</i>' +
                            title + '</span><span class="phone">' +
                            phone + '</span></li>';
                    }
                    $('.newpark_points').html(result);
                } else {
                    $('.newpark_points').html('');
                }
            },
        }
        var local = new BMap.LocalSearch(map, options);
        local.searchNearby('酒店旅馆', point, (distance + 1000));



    }
</script>
<script type="text/javascript">
    function myFun(result) {
        var cityName = result.name;
        console.log(cityName);
        //map.setCenter(cityName);

        if (app.city == "null") {
            app.city = cityName;
        } else {
            app.city = localStorage.getItem("name");
        }

    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun);
</script>
<script src="./js/login.js"></script>
<script>
    var flag = true;

    function xs() {
        var img = document.getElementById("xsimg");
        var box = document.getElementById('ewm');
        if (flag) {
            img.src = "./img/goright (2).png";
            box.style.cssText = 'transform: translateX(180px);transition: all 0.5s ease-in-out 0s;'
            flag = false;
        } else {
            img.src = "./img/goright (1).png";
            box.style.cssText = 'transform: translateX(0);transition: all 0.5s ease-in-out 0s;'
            flag = true;
        }
    }
</script>